// we're using a custmo font:

@font-face {
  font-family: "rainyhearts";
  src: url("fonts/rainyhearts.woff2") format("woff2"), url("fonts/rainyhearts.woff") format("woff"), url("fonts/rainyhearts.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "rainyhearts";
}
